
*.ipch
*.vsidx
HW4/.vs/HW4/FileContentIndex/read.lock
HW4/.vs/HW4/v17/.suo
HW4/.vs/HW4/v17/Browse.VC.db
HW4/.vs/HW4/v17/Browse.VC.db-shm
HW4/.vs/HW4/v17/Browse.VC.db-wal
HW4/.vs/HW4/v17/Browse.VC.opendb
