
*.ipch
*.vsidx
HW4/.vs/HW4/FileContentIndex/read.lock
HW4/.vs/HW4/v17/.suo
HW4/.vs/HW4/v17/Browse.VC.db
HW4/.vs/HW4/v17/Browse.VC.db-shm
HW4/.vs/HW4/v17/Browse.VC.db-wal
HW4/.vs/HW4/v17/Browse.VC.opendb
*.lock
HW5/.vs/HW5/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.tlog
HW5/HW5/HW5.vcxproj
HW5/HW5/HW5.vcxproj.filters
HW5/HW5/HW5.vcxproj.user
*.obj
*.recipe
*.ilk
*.log
*.enc
*.idb
*.pdb
*.sln
HW5/x64/Debug/HW5.exe
